<nav class="navbar">
  <form class="form-inline">
    <input class="form-control mr-sm-2" type="search"  (keyup.enter)="buscarProduct(bucarTexto.value) " #buscarTexto>
    <button (click)="buscarProduct(buscarTexto.value)" class="btn-shearch btn btn-outline-success my-2 my-sm-0" type="button">Search</button>
  </form>
</nav>
