<div class="jumbotron padd">
  <div class="media">
    <img src="https://audiocolor.com.co/914-cart_default/televisor-challenger-43t23-4k-smartv.jpg" class="mr-3" alt="televisor">
    <div class="media-body">
      <h5 class="mt-0 text-verde">$1.123.564</h5>
      Tv 65" HD.
      <div class="cart-button">
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
      </div>
    </div>
  </div>
</div>
<br>
<div class="jumbotron padd">
  <div class="media">
    <img src="https://productimages.hepsiburada.net/s/3/80/9612441092146.jpg" class="mr-3" alt="Play 4">
    <div class="media-body">
      <h5 class="mt-0 text-verde">$1.005.150</h5>
      PS 4 1 TB.
      <div class="cart-button">
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
      </div>
    </div>
  </div>
</div>
<br>
<div class="jumbotron padd">
  <div class="media">
    <img src="http://tienda.newtechnology.com.uy/11915-cart_default/notebook-apple-core-i7-512gb-ssd-16gb-15-video-2gb-mac-os.jpg" class="mr-3" alt="Mac">
    <div class="media-body">
      <h5 class="mt-0 text-verde">2.573.754</h5>
      Mac I7.
      <div class="cart-button">
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
      </div>
    </div>
  </div>
</div>
<br>
<div class="jumbotron padd">
  <div class="media">
    <img src="https://www.socylmediapc.es/96-cart_default/iphone-6s-16gb-ocasion.jpg" class="mr-3" alt="Iphone">
    <div class="media-body">
      <h5 class="mt-0 text-verde">$1.123.564</h5>
      Iphone 7S.
      <div class="cart-button">
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
      </div>
    </div>
  </div>
</div>
