
<ul class="social-text-verde">
  <li>
      <span class="fab fa-facebook-f"></span>
  </li>
  <li>
      <span class="fab fa-twitter"></span>
  </li>
  <li>
      <span class="fab fa-google"></span>
  </li>
  <li>
      <span class="fab fa-youtube"></span>
  </li>
</ul>
