<div id="page">
  <header class="header">
    <div class="container">
      <div class="row">
        <div class="col-sm-9"></div>
        <div class="box-right col-sm-3">
          <app-contact></app-contact>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-sm-4 col-xs-6">
            <img src="./assets/logo.png">
        </div>
        <div class="col-sm-5 col-xs-6">
          <app-search></app-search>
        </div>
        <div class="col-sm- my-auto">
          <div class="container hidden-xs">
              <span class="font-weight-bold text-verde"><i class="fas fa-phone"></i>    800-2345-6789</span>
          </div>
        </div>
      </div>
    </div>
    <div class="container col-sm-9">
      <div class="row">
        <aside id="column-left" class="col-sm-3 ">
          <div class="box category">
          	<div class="box-content">
              <div class="list-group-item colorVerde my-auto">
                <h5><i class="fas fa-bars"></i>         Categories</h5>
              </div>
            </div>
          </div>
        </aside>
        <div class="col-sm-9">
          <app-menuh></app-menuh>
        </div>
      </div>
    </div>
  </header>


  <div id="container">
  	<div class="container">
      <div class="row">
        <div class="col-sm-3">
        <app-menuleft>
        </app-menuleft>
        <br>
        <app-jumbotron class="cardstop"></app-jumbotron>
        </div>
        <div class="content" class="col-sm-9">

          <div class="container">
            <router-outlet></router-outlet>
          </div>

      </div>
    </div>
  </div>
</div>
