
<div class="card-columns cardstop">
  <div class="card" *ngFor="let product of product | slice:0:102">
    <img [src]="product.thumbnailUrl" class="card-img-top img-fluid" [alt]="product.title">
    <div class="card-body cards-height">
      <h5 class="card-title cards-height-t">{{ product.title.substr(0,50) }}</h5>
      <p class="card-text cards-height-t">{{ product.title.substr(0,50) }}</p>
      <div class="cart-button">
        <a class="quickview quickview-latest btn" data-toggle="tooltip" title="" rel="group" href="#quickview_latest_1" data-original-title="Quick View">
          <i class="fas fa-cart-arrow-down"></i>
        </a>
        <a class="quickview quickview-latest btn" data-toggle="tooltip" title="" rel="group" href="#quickview_latest_1" data-original-title="Quick View">
          <i class="fas fa-heart"></i>
        </a>
        <a class="quickview quickview-latest btn" data-toggle="tooltip" title="" rel="group" href="#quickview_latest_1" data-original-title="Quick View">
          <i class="fas fa-paperclip"></i>
        </a>
        <a class="quickview quickview-latest btn" data-toggle="tooltip" title="" rel="group" href="#quickview_latest_1" data-original-title="Quick View">
          <i class="fas fa-check"></i>
        </a>
      </div>
    </div>
  </div>
</div>
