/* You can add global styles to this file, and also import other style files */
body{
  padding-bottom: 20px;
}
.colorVerde {
    z-index: 2;
    color: #fff;
    background-color: #48C9B0;
    border-color: #48C9B0;
}
.text-verde {
    color: #48C9B0;
}
ul, ol {
    margin-top: 0;
    margin-bottom: 10px;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
.social-text-verde{
  color: #48C9B0;
  display: inline-block;
  margin-right: 23px;
}
.social-text-verde li {
    display: inline-block;
    padding-right: 10px;
}
.header .box-right {
    float: right;
}

.cards-height{
  height: 220px;
}
.cards-height-t{
  height: 60px;
}
.cardstop{
  padding-top: 20px;
}
.padd{
      padding: 2rem 1rem;
}
.paddi{
    padding-right: 10px;
}
